.caixa input{
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 3px solid rgb(11, 0, 65);
}

.caixa{
    text-align: center;
}

.vida{
    color: white;
    height: 88px;
}


html{
    background-color: rgb(22, 32, 70);
}

.card{
    background-color:rgb(22, 34, 81);
    width: 300px;
    height: 260px;
    color: rgb(191, 189, 189);
    border: 2px solid white;
}



.score{
    padding-left:30px ;
}